# local package
-e .

# migth be downloaded manually
torch
peft
diffusers==0.25.1
wandb
accelerate
vision-aided-loss
lpips
clip @ git+https://github.com/openai/CLIP.git
clean-fid
opencv-python
pydantic